@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --color-primario: #DDD0C8;
    --color-secundario: #323232;
}

* {
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    background-color: var(--color-primario);
    box-sizing: border-box;
}

main{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.contenido{
    width: 800px;
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    gap: 40px;

}

.contenido__texto{
    margin-top: 5px;
    width: 702px;
}



.contenido__texto__textarea{
    margin: 35px;
    width: 670px;
    height: 300px;
    display: block;
    border: 0;
    background-color: var(--color-primario);
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    color: var(--color-fuente);
}

.contenido__texto__textarea:focus{
    outline: none;
}

.contenido__inferior__parrafo{
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    margin-left: 35px;
    margin-bottom: 5px;
}

.contenido__inferior__botones{
    display: flex;
    gap: 35px;
    height: 90px;
    justify-content: space-around;
    box-sizing: border-box;


}

.contenido__inferior__botones__forma{
    margin: 10px;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    text-align: center;
    padding: 24px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: center;
    background-color: var(--color-secundario);
    color: var(--color-primario)
}
.contenido__inferior__botones__forma:hover{
    font-size: 18px;
    width: 333px;
    height: 70px;
}

.contenedorlateral{
    background-color: #FFFFFF;
    margin: 15px 40px 15px 0px;
    height: 500px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 32px;
    
    box-sizing: border-box;
}
.contenedorlateral__textarea{
    margin: 20px;
    border: none;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    
}
.contenedorlateral__textarea:focus{
    outline: none;
}

.contenedorlateral__imagen{
    height: auto;
    width: auto;
    margin: 10px 50px;
    
}

.contenedorlateral__parrafos{
    
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contenedorLateral__parrafoSuperior{
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 28.8px;
    text-align: center;
    padding: 5px;
    
}

.contenedorLateral__parrafoInferior{
    
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    
}

.contenedorlateral__btncopiar{ 
    
    width: 270px;
    height: 47px;
    border-radius: 24px;
    text-align: center;
    margin: 0 0 15px 15px;
    background-color: var(--color-secundario);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    color:var(--color-primario);
}

.contenedorlateral__btncopiar:hover{
    width: 272px;
    height: 49px;
    font-size: 17px;
}

.logo{
    
    margin-top: 15px;
    padding-left: 15px;
}

footer{
    margin-top: 20px;
}

.footer__parrafo{
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    color:var(--color-secundario);
}

